<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lonely Gestures</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <section id="title" class="dark-section-title">
      <!--navbar-->
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">LonelyGestures</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">more on the study</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">methodology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">references</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- title -->
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-6">
            <h1 class="big-heading">This is
              <strong>Kevin</strong>
              the interpreter working
              <strong>in a booth alone</strong></h1>
            <h4>His
              <span style="color:#ff1818;">little secret</span>: he gestures
              while interpreting. Is it weird or maybe we're surrounded by
              Kevins?</h4>
            <button
              type="button"
              onclick="location.href='#to-article'"
              class="btn btn-outline-danger btn-lg scroll-button"
            >I want to know!</button>
          </div>
        </div>
      </div>
    </section>

    <article id="to-article">
      <hr />
      <div class="main-content">
        {{{body}}}
      </div>
      <hr />
    </article>

    <!-- footer -->
    <footer id="footer" class="dark-section">
      <p>created by Martha Sleboda
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-envelope"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
          ></path>
        </svg>
        contact: xxxxx@st.amu.edu.pl</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>

</html>