<h3>Before going forward, what do
  <strong>YOU</strong>
  think:</h3>
<h2>
  do interpreters gesture when there is<br />no recipient for their message in
  sight?
</h2>
<button class="btn btn-outline-success">YES</button>
<button class="btn btn-outline-danger">NO</button>