<h3>Before going forward, what do
  <strong>YOU</strong>
  think:</h3>
<h2>
  do interpreters gesture when there is<br />no recipient for their message in
  sight?
</h2>
<button
  onclick="location.href='choice/yes'"
  class="btn btn-outline-info choice-button"
>YES</button>
<button
  onclick="location.href='choice/no'"
  class="btn btn-outline-danger choice-button"
>NO</button>