<div class="row">
  <div class="col-lg-8 col-sm-8">
    <h4>Our lonely Kevin is a metaphor for all those interpreters working in
      booths, separated from interlocutors, whose actions remain unseen by the
      others. Their body movements are shrouded in secrecy but
      <span style="color:#ff1818;">it is high time for a change</span>.
    </h4>
    <h4>However, before going forward, I'm dying to know what do
      <strong>YOU</strong>
      think:</h4>
    <h2>
      do interpreters gesture when there is<br />no recipient for their message
      in sight?
    </h2>
    <div class="choice-buttons">
      <button
        onclick="location.href='choice/yes'"
        class="btn btn-outline-warning choice-button"
      >YES</button>
      <button
        onclick="location.href='choice/no'"
        class="btn btn-outline-danger choice-button"
      >NO</button>

    </div>
  </div>
  <div class="card col-lg-3 col-sm-3">
    <img
      class="card-img-top"
      src="images/MSleboda.jpg"
      alt="M. Sleboda in her natural habitat"
    />
    <div class="card-body">
      <p class="card-text">Unravel the mystery with me, an MA student from
        Poznań snooping around &#38; looking for answers.</p>
    </div>
  </div>
</div>