body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

article {
  flex: 1;
  background-color: #000000;
  padding: 5% 15% 1.5%;
  text-align: center;
  border: 0.2px #111418f7;
  box-shadow: inset 0px 15px 8px -10px #111418f7,
    inset 0px -15px 8px -10px #111418f7;
  color: #99b8d7;
}

h1,
h2 {
  font-family: "Montserrat";
  font-weight: 900;
}

hr {
  border-top: 5px dotted red;
  opacity: 1;
  width: 7%;
  margin: 13 auto 30;
}

/* Sections */

.dark-section-title {
  background-color: #000000;
  background-image: url("../images/interpreter.jpg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

/* Title section */

.container-fluid {
  padding: 3% 5% 7%;
  border: 0.2px #111418f7;
  box-shadow: inset 0px -20px 8px -10px #111418f7;
}

.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1 rem;
  font-weight: bold;
  color: #fe0045;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-style: 0.4 rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: #dfdfdf;
}

/* Footer */

#footer {
  padding: 2% 5% 2%;
  text-align: center;
  background-color: #12161a;
  box-shadow: inset 0px 25px 8px -10px #111418f7;
}

#footer p {
  color: #0dcaf0;
  font-size: 13;
}

/* Buttons */

.btn {
  font-size: 4rem;
  margin: 3% 2%;
}

.btn-outline-danger {
  --bs-btn-hover-color: #000000;
  --bs-btn-disabled-bg: #000000;
}
